
#inner-container {
    background: lightblue;
    width: 100%;
    display: grid;
    grid-template-columns: auto 10fr;
    grid-gap: 1rem;
}


#tableContainer {
    background: gray;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
}
